div.error {
    color: #ff0000;
    background-color: #c7c3c3;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    left: 200px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
